{% extends 'layout.html.twig' %}

{% block title %}Вебинар Великобритания{% endblock %}
{% block page %}
    <div class="webinar-page">
        <div class="poster-container">
            <div class="content-width poster-container__content">
                <div class="poster-container__text-block">
                    <div class="poster-container__webinar-experts-text">Вебинар от экспертов международной логистической компании</div>
                    <div class="poster-container__heading-wrapper">
                        <div class="poster-container__heading-img"></div>
                        <h1 class="webinar-page__heading1 poster-container__heading1">Как интернет-магазину увеличить прибыль<br>на
                            <span class="green-color">50% за 3 месяца</span>
                        </h1>
                    </div>
                    <div class="poster-container__line"></div>
                    <div class="poster-container__sales-geography-text">
                        Расширьте географию продаж: станьте частью ежегодно растущего рынка e-commerce России и стран СНГ с помощью отлаженных логистических схем.
                    </div>
                    <div class="webinar-zoom-container poster-container__webinar-zoom-container">
                        <div class="webinar-zoom-container__text-block">
                            <div class="webinar-zoom-container__system-text">Вебинар в системе ZOOM</div>
                            <div class="webinar-zoom-container__date">Великобритания 30 сентября 2020 в 15:00</div>
                        </div>
                        <a href="" class="webinar-zoom-container__button">Участвовать</a>
                    </div>
                </div>
                <div class="poster-container__pack-poster"></div>
            </div>
        </div>
        <div class="webinar-screen-advantages">
            <div class="content-width">
                <div class="webinar-benefits-container">
                    <div class="background-dots background-dots_color_green webinar-benefits-container__background-dots-left"></div>
                    <div class="background-dots background-dots_color_black webinar-benefits-container__background-dots-right"></div>
                    <h2 class="webinar-benefits-container__heading2 webinar-page__heading2">
                        Для кого будет полезен этот вебинар
                    </h2>
                    <div class="webinar-benefits-container__text">
                        Интернет-магазинам в Великобритании которые:
                    </div>
                    <div class="webinar-benefits-container__advantages-content">
                        <div class="webinar-benefits-container__advantages-block">
                            <div class="webinar-benefits-container__advantages-block-img">1</div>
                            <div class="webinar-benefits-container__advantages-block-text">
                                Планируют выйти на российский рынок,<br>
                                но не знают, с чего начать;
                            </div>
                        </div>
                        <div class="webinar-benefits-container__advantages-block">
                            <div class="webinar-benefits-container__advantages-block-img">2</div>
                            <div class="webinar-benefits-container__advantages-block-text">
                                Продают в РФ и страны<br>
                                СНГ, но хотят увеличить количество покупателей.
                            </div>
                        </div>
                        <div class="webinar-benefits-container__advantages-block">
                            <div class="webinar-benefits-container__advantages-block-img">3</div>
                            <div class="webinar-benefits-container__advantages-block-text">
                                Уже продают товары<br>
                                за рубеж или хотят работать с клиентами из других стран
                            </div>
                        </div>
                    </div>
                </div>
                <div class="interesting-market-container">
                    <h2 class="interesting-market-container__heading2 webinar-page__heading2">
                        Почему рынок России интересен<br>
                        для интернет-магазинов в Великобритании?
                    </h2>
                    <div class="interesting-market-container__content">
                        <div class="interesting-market-container__block">
                            <div class="interesting-market-container__block-img interesting-market-container__cart"></div>
                            <div class="interesting-market-container__text">
                                Россияне все чаще покупают за рубежом:<br>
                                425 млн заказов, выручка 6,5 млрд долларов, в 2019 г
                            </div>
                        </div>
                        <div class="interesting-market-container__block">
                            <div class="interesting-market-container__block-img interesting-market-container__growth"></div>
                            <div class="interesting-market-container__text">
                                Средний ежегодный прирост заказов из-за рубежа на рынке e-commerce в России<br>
                                RR— 18,4%. Эта цифра выше, чем средний показатель во всем мире.
                            </div>
                        </div>
                        <div class="interesting-market-container__block">
                            <div class="interesting-market-container__block-img interesting-market-container__asos"></div>
                            <div class="interesting-market-container__text">
                                Среди наиболее востребованных товаров среди покупателей из России первые места занимают европейские бренды, как гарантия качества и уникальности.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-turnover-container">
            <div class="content-width">
                <div class="company-turnover-container__text-content">
                    <h2 class="company-turnover-container__heading2">$52 000 000 000*</h2>
                    <div class="company-turnover-container__line"></div>
                    <div class="company-turnover-container__text">
                        *К 2023 году рынок российских покупок в интернете достигнет оборотов в 52 миллиарда долларов (согласно прогнозам агентства Morgan Stanley).
                    </div>
                    <div class="company-turnover-container__white-circle"></div>
                </div>
            </div>
        </div>
        <div class="e-commerce-container">
            <div class="content-width">
                <h2 class="e-commerce-container__heading2 webinar-page__heading2">
                    На бесплатном вебинаре для e-commerce мы расскажем:
                </h2>
                <div class="e-commerce-container__items-container">
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Как выйти на российский рынок с помощью международной компании по доставке.</div>
                        <div class="e-commerce-container__item-number">1</div>
                    </div>
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Как устроен e-commerce <br>
                            в России: конкуренты <br>
                            и свободные ниши.</div>
                        <div class="e-commerce-container__item-number">2</div>
                    </div>
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Что сделать, чтобы начать работать: платежные системы, локализация.</div>
                        <div class="e-commerce-container__item-number">3</div>
                    </div>
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Как безопасно и прозрачно интегрироваться в российский рынок без знания языка.</div>
                        <div class="e-commerce-container__item-number">4</div>
                    </div>
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Как минимизировать риски <br>
                            и не иметь проблем <br>
                            с таможней.</div>
                        <div class="e-commerce-container__item-number">5</div>
                    </div>
                    <div class="e-commerce-container__item">
                        <div class="e-commerce-container__item-text">Почему не придется вкладываться <br>
                            в продвижение и рекламу.</div>
                        <div class="e-commerce-container__item-number">6</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="who-are-we-container">
            <div class="content-width">
                <h2 class="who-are-we-container__heading2">Кто мы?</h2>
                <div class="who-are-we-container__text">
                    Вебинар проводят эксперты СДЭК — одной из крупнейших компаний на рынке российской логистики
                </div>
                <div class="who-are-we-container__circle-content js-who-are-we-slider owl-carousel">
                    <div class="who-are-we-container__circle-block">
                        <div class="who-are-we-container__circle-cdek who-are-we-container__circle"></div>
                        <div class="who-are-we-container__circle-number">2 место</div>
                        <div class="who-are-we-container__circle-text">
                            В рейтинге известности логистических компаний среди жителей страны, сразу после российской почты
                        </div>
                    </div>
                    <div class="who-are-we-container__circle-block">
                        <div class="who-are-we-container__circle-car who-are-we-container__circle"></div>
                        <div class="who-are-we-container__circle-number">2300+</div>
                        <div class="who-are-we-container__circle-text">
                            Собственных пунктов выдачи заказов в России <br>
                            и по миру.
                        </div>
                    </div>
                    <div class="who-are-we-container__circle-block">
                        <div class="who-are-we-container__circle-location who-are-we-container__circle"></div>
                        <div class="who-are-we-container__circle-number">20 стран</div>
                        <div class="who-are-we-container__circle-text">
                            В которых есть представительства нашей компании.
                        </div>
                    </div>
                    <div class="who-are-we-container__circle-block">
                        <div class="who-are-we-container__circle-package who-are-we-container__circle"></div>
                        <div class="who-are-we-container__circle-number">64 000+</div>
                        <div class="who-are-we-container__circle-text">
                            Интернет-магазинов <br>
                            — наши клиенты.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="webinar-screen-participation">
            <div class="content-width">
                <div class="free-webinar-container">
                    <div class="background-dots background-dots_color_black free-webinar-container__background-dots"></div>
                    <h2 class="webinar-screen-participation__heading2 webinar-page__heading2">
                        Как принять участие в бесплатном ZOOM вебинаре
                    </h2>
                    <div class="free-webinar-container__content">
                        <div class="free-webinar-container__block free-webinar-container__step1">
                            <div class="free-webinar-container__text-block">
                                <div class="free-webinar-container__number">1.</div>
                                <div class="free-webinar-container__text">
                                    Заполните форму регистрации участника <br>
                                    в нижней части страницы.
                                </div>
                            </div>
                        </div>
                        <div class="free-webinar-container__block free-webinar-container__step2">
                            <div class="free-webinar-container__text-block">
                                <div class="free-webinar-container__number">2.</div>
                                <div class="free-webinar-container__text">
                                    На вашу электронную почту придет письмо со ссылкой на трансляцию.
                                </div>
                            </div>
                        </div>
                        <div class="free-webinar-container__block free-webinar-container__step3">
                            <div class="free-webinar-container__text-block">
                                <div class="free-webinar-container__number">3.</div>
                                <div class="free-webinar-container__text">
                                    Перейдите по ссылке <br>
                                    в указанный день <br>
                                    и подключитесь к вебинару.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gift-webinar-participants free-webinar-container__gift-webinar-participants">
                        <div class="gift-webinar-participants__square">Всем участникам вебинара</div>
                        <div class="gift-webinar-participants__text">Практическое руководство</div>
                        <div class="gift-webinar-participants__title">
                            «Как зарубежному <span class="white-space">интернет-магазину</span><br>
                            выйти на российский рынок»
                        </div>
                    </div>
                </div>
                <div class="application-participation-container">
                    <div class="background-dots background-dots_color_green application-participation-container__background-dots"></div>
                    <div class="application-form">
                        <form class="js-form" method="" action="">
                            <div>
                                <div class="application-form__title">Заявка на участие</div>
                                <div class="application-form__description">
                                    <div class="form-field application-form__field form-field_error">
                                        <input type="text" placeholder="Ваше имя" class="form-field__input">
                                        <div class="form-field__error-message">Заполните поле</div>
                                    </div>
                                    <div class="form-field application-form__field form-field_error">
                                        <input type="text" placeholder="Телефон" class="form-field__input">
                                        <div class="form-field__error-message">Заполните поле</div>
                                    </div>
                                    <div class="form-field application-form__field">
                                        <input type="text" placeholder="Электронная почта" class="form-field__input">
                                        <div class="form-field__error-message">Заполните поле</div>
                                    </div>
                                    <div class="form-field application-form__field">
                                        <input type="text" placeholder="Компания" class="form-field__input">
                                        <div class="form-field__error-message">Заполните поле</div>
                                    </div>
                                    <div class="application-form__fields-row">
                                        <div class="form-field application-form__field-small form-field_error">
                                            <input type="text" placeholder="Город" class="form-field__input">
                                            <div class="form-field__error-message">Заполните поле</div>
                                        </div>
                                        <div class="form-field application-form__field-small">
                                            <input type="text" placeholder="Сфера деятельности" class="form-field__input">
                                            <div class="form-field__error-message">Заполните поле</div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="application-form__button">Регистрация</button>
                                <div class="application-form__text-block">
                                    <p class="application-form__text">Заполняя данную форму, вы подтверджаете согласие на использование ваших данных в информационных целях компании СДЭК. </p>
                                    <p class="application-form__text">Не шлем спам, и не передаем никому ваши данные.</p>
                                </div>
                            </div>
                        </form>

                        <div class="application-form__result-wrapper js-form-result" style="display: none;">
                            <div class="form-result form-result_result_success">
                                <div class="form-result__img"></div>
                                <div class="form-result__title">Отправлено!</div>
                                <div class="form-result__text">Ваше сообщение успешно отправлено.<br>
                                    Наш менеджер свяжется с вами в ближайшее время.</div>
                            </div>
                            <div class="form-result form-result_result_error" style="display: none;">
                                <div class="form-result__img"></div>
                                <div class="form-result__title">Ошибка отправки!</div>
                                <div class="form-result__text">При отправке сообщения произошла ошибка.<br>
                                    Попробуйте отправить еще раз через
                                    некоторое время.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="our-clients-container">
            <div class="content-width">
                <h2 class="our-clients-container__heading2 webinar-page__heading2">
                    Наши клиенты и партнеры
                </h2>
                <div class="our-clients-blocks">
                    {% for num in 1..19 %}
                        <div class="our-clients-blocks__block our-clients-blocks__our-img-i{{ num }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
