<div class="content-width">
    <div class="header-container">
        <div class="logo-uk header-container__logo"></div>
        <div class="menu-container header-container__menu">
            <ul class="menu-container__item-ul">
                <li class="menu-container__item-li">
                    <a class="menu-container__item current" href="">
                        Почему пора<br>
                        продавать в Россию?
                    </a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Программа</a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Кто мы?</a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Как принять участие</a>
                </li>
            </ul>
        </div>
        <a href="" class="header-container__button">Участвовать</a>
        <div class="header-container__language-selector">RU</div>
        <div class="webinar-phone-container header-container__webinar-phone-container">
            <div class="webinar-phone-container__phone-block">
                <a class="webinar-phone-container__phone" href="tel:+441473711668">+ 44 147 371 16 68</a>
                <div class="webinar-phone-container__name">Ипсуич</div>
            </div>
        </div>
        <div class="menu-mobile js-menu-open-button"></div>
    </div>
</div>
<div class="fullscreen-modal-background js-fade_background {#opened#}"></div>
<div class="header-container-mobile-open-wrapper">
    <div class="header-container-mobile-open js-webinar-menu-container transition_slide-right {#opened#}">
        <div class="header-container-mobile-open__close js-menu-close-button"></div>
        <div class="logo-uk header-container-mobile-open__logo"></div>
        <div class="menu-container header-container-mobile-open__menu-container">
            <ul class="menu-container__item-ul">
                <li class="menu-container__item-li">
                    <a class="menu-container__item current" href="">
                        Почему пора<br>
                        продавать в Россию?
                    </a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Программа</a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Кто мы?</a>
                </li>
                <li class="menu-container__item-li">
                    <a class="menu-container__item" href="">Как принять участие</a>
                </li>
            </ul>
            <a href="" class="header-container-mobile-open__button">Участвовать</a>
        </div>
    </div>
</div>