.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/mysql/db
/docker/mysql_8/db
/.editorconfig
/_ide_helper.php
/_ide_helper_models.php
/public/mix-manifest.json
/public/universal2/new.js
