@import "../vars";

.free-webinar-container {
  padding-bottom: 116px;
  position: relative;
  &__content {
    display: flex;
    margin-bottom: 81px;
  }

  &__block {
    width: 283px;
    margin-right: 157px;
    position: relative;
    padding-top: 136px;
    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      content: url("/img/arrow.svg");
      position: absolute;
      right: -99px;
      top: 154px;
    }
  }


  &__step1 {
    background: url("/img/step1.svg") no-repeat top 30px left 63px;
  }

  &__step2 {
    background: url("/img/step2.svg") no-repeat top 33px left 63px;
  }

  &__step3 {
    background: url("/img/step3.svg") no-repeat top left 31px;
  }

  &__text-block {
    display: flex;
  }

  &__number {
    font-size: 60px;
    line-height: 60px;
    margin-right: 15px;
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
  }

  &__gift-webinar-participants {
    margin: 0 auto;
  }

  &__background-dots {
    position: absolute;
    top: 368px;
    right: -278px;
  }
}

@media (max-width: 480px) {
  .free-webinar-container {
    padding:0 $padding320 45px;
    box-sizing: border-box;
    &__content {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__block {
      width: 100%;
      margin-right: 0;
      padding-top: 0;
      padding-left: 94px;
      margin-bottom: 43px;
      box-sizing: border-box;
      min-height: 62px;

      &::after {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 60px;
      }
    }

    &__step1 {
      background-position: top left;
      background-size: 74px 65px;
    }

    &__step2 {
      background-position: top left;
      background-size: 63px 63px;
    }

    &__step3 {
      background: url("/img/step3-mobile.svg") no-repeat top -20px left -20px;;
    }

    &__number {
      font-size: 35px;
      line-height: 35px;
      margin-right: 12px;
    }

    &__text {
      font-size: 15px;
      line-height: 19px;
      padding-top: 5px;
      br {
        display: none;
      }
    }
  }
}

@media(min-width: 481px) and (max-width: 1199px) {
  .free-webinar-container {
    padding:0 $padding768 59px;
    box-sizing: border-box;
    &__content {
      margin-bottom: 49px;
      justify-content: center;
    }

    &__block {
      width: 210*100%/708;
      margin-right: 37px;
      box-sizing: border-box;
      padding-top: 81px;

      &::after {
        display: none;
      }
    }

    &__step1 {
      background-position: top 10px left 42px;
      background-size: 74px 65px;
    }

    &__step2 {
      background-position: top 10px left 40px;
      background-size: 63px 63px;
    }

    &__step3 {
      background: url("/img/step3-mobile.svg") no-repeat top -20px left 20px;
    }

    &__number {
      font-size: 35px;
      line-height: 35px;
      margin-right: 12px;
    }

    &__text {
      font-size: 14px;
      line-height: 19px;
      padding-top: 4px;
      br {
        display: none;
      }
    }
  }
}