$mainContentWidth: 1200px;
$fontStack: 'Roboto', sans-serif;
$textColor: #222;
$textColor2: #333;
$greenColor: #1AB248;
$greenActiveColor: #0F9A39;
$liteGrayColor: #F5F5F6;
$grayColor: #858687;
$borderGrayColor: #E1E1E1;
$borderGrayColorInner: #EDEDED;
$footerGrayColor: #A5A5A5;
$grayActiveColor: #CFCFCF;
$errorRedBorderColor: #FF7474;
$errorRedColor: #E91717;
$liteBlueColor: #DFF5FF;
$officeGrayColor: #A3A5A9;
$packageProblemColor: #ED5050;
$packageGrayColor: #F9F9F9;

$padding320: 20px;
$padding768: 30px;

$modalTransitionDuration: 0.3s;
